<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>bluetooth-central</string>
        <string>nearby-interaction</string>
        <string>location</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>Oliemanq.DisplayPlus</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs your location to provide weather updates.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs your location to provide weather updates even when the app is in the background.</string>
</dict>
</plist>
