<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>Oliemanq.DisplayPlus</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>nearby-interaction</string>
		<string>location</string>
		<string>processing</string>
	</array>
    <key>NSHealthShareUsageDescription</key>
    <string>This app reads your step count and heart rate to show activity trends.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app saves your workout data to your health profile.</string>
</dict>
</plist>
